<div class="container articles">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1>Articles</h1>

            <div class="toolbar mb-5">
              <div class="float-start">
                <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
              </div>
              <div class="float-lg-end">
                <%= render 'search_form', locals: {q: params['q']} %>
              </div>
            </div>

            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Publish date</th>
                  <th scope="col">Views</th>
                  <th scope="col">Author</th>
                  <th scope="col" colspan="3">Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @articles.each do |article| %>
                  <tr>
                    <td class="col">
                      <%= link_to article, class: "article-title" do %>
                          <%= article.title %>
                      <% end %>
                    </td>
                    <td class="col"><%= article.publish_date %></td>
                    <td class="col"><%= article.views_count %></td>
                    <td class="col"><%= article.author %></td>
                    <td class="col"><%= link_to fa_icon("search-plus"), article %></td>
                    <td class="col"><%= link_to fa_icon("edit"), edit_article_path(article) %></td>
                    <td class="col"><%= link_to fa_icon("trash"), article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <%= paginate @articles %>


        </div>
        <div class="col-2"></div>
    </div>
</div>

