<div class="container article">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="toolbar mb-3">
            <%= link_to '<< Back', articles_path, class: "btn btn-light" %>          
          </div>
          <h2><%= @article.title %></h2>  

          <p>
            <strong>Published at:</strong>
            <%= @article.publish_date %>
          </p>

          <p>
            <strong>Content:</strong>
            <%= @article.content %>
          </p>

          <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary" %>
          
            
        </div>
        
        <div class="col-lg-3"></div>
    </div>
</div>